# Ignore virtual environment
venv/

# Ignore data files (especially large CSVs)
data/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore temporary Python files
__pycache__/
*.pyc

# VS Code settings
.vscode/
